@use "variables" as v;

main{
    display: flex;
    justify-content: center;
    min-height: 100dvh;

    .titulo_enlace{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        animation: ingreso 1s  ease-in-out forwards;

        img{ 
            max-width: 90vh;
            width: 100%;

        }

        a{
            text-decoration: none;
            color: v.$colorheader4;
            font-weight: bold;
            background-color: v.$colorheader3;
            padding:15px;
            margin-top: -50px;
            transition: transform 0.5s ease-in-out;
            &:hover{
                transform: scale(1.1);
                filter: brightness(1.1)contrast(1.1)
                saturate(1.1);
            }
        }
}
}

.home2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$colorheader4;
    background-size:cover;
    min-height: 100dvh; // ✅ Esto asegura que cada sección ocupe el alto de la pantalla
    ul{
        display: flex;
        list-style: none;
        margin: 20px;
        li{
            position: relative;
            padding: 10px;
            
            img{
                max-width: 300px;
                width: 100%;
                height: 450px;
                object-fit: cover;
            }
                h2{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.2rem;
                    text-align: center;
                    color: v.$colorheader4;
                    text-shadow: 0 0 10px v.$colorheader3;
                    font-weight: 400;
                    
                }
            }
        }
    }

.compra_tu_kit {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    min-height: 100dvh; // ✅ Esto asegura que cada sección ocupe el alto de la pantalla
    background-image: url(../img/fondo_compratukit.png);
    background-size: 100%;
    
    img {
        width:100%;
        max-width: 350px;
        object-fit: cover;
        box-shadow: 0 0 20px v.$colorheader3;
        }

    .tu_kit2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 450px;

        h3 {
            font-size: 2.5rem;
            color: v.$colorheader3;
            text-shadow: 0 0 10px v.$colorheader4;
        }

        p {
            font-size: 1.4rem;
            color: v.$colorheader3;
            text-shadow: 0 0 10px v.$colorheader4;
        }
    }
}

.saca_mancha{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fondo_sacamancha.png);
    background-size: 50%;
    min-height: 100dvh; // ✅ Esto asegura que cada sección ocupe el alto de la pantalla

    img{
        max-width: 200px;
        width: 100%;

    }
    .limpia_mancha{

        img{
            width: 100%;
            max-width: 350px;
            padding: 15px;
            border-radius: 1000px;


        }
    }
}

.promocion{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(134deg, v.$colorheader3, v.$colorheader4, v.$colorheader2, v.$colorheader1);
    background-size: 200% 200%;
    animation: gradiente 5s infinite alternate;
    .promocion_texto{
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 2px solid #f3f5f7;
        padding: 20px;
        margin: 10px;
        
        h4{
            font-size: 2.2rem;
            font-weight: 300;
            color: v.$colorheader4;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); /* Brillo sutil */
            letter-spacing: 0.5px; /* Espaciado para verse más pro */

        }
        p{
            font-size: 1.3rem;
            color:#3B4B66; /* Texto oscuro para contraste */
            font-weight:700;

        }
        a{
            display: inline-block; /* Para que se comporte como botón */
            background-color: v.$colorboton1;
            color: v.$colorheader4; /* Texto en blanco */
            padding: 10px 20px; /* Espaciado interno */
            font-weight: bold;
            text-decoration: none; /* Sin subrayado */
            max-width: 250px;
            transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
            &:hover{
                background-color: v.$colorboton2; 
                transform: scale(1.05);
            }
        }
    }
    ul{list-style: none;
        display: flex;
        gap: 30px;
        align-items: center;
        li{
            img{max-width: 250px;
                animation: movimiento 1s infinite alternate ease-in-out;
            }
        }
    }
}

.espacios{
    background-color: v.$colorheader4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 5px;

    .habitacion{
        position: relative;
        display: grid;
        justify-items: center;

    img{
        width: 100%;
        height: 500px;
        box-shadow: 0 0 10px v.$colorheader4;
    }
    h5{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5rem;
        color: v.$colorheader4;
        text-shadow: 0px 0px 1px v.$colorheader2;
        background-color: v.$colorheader3;
        padding: 15px;
        border-radius: 20px;

    }
}
}

.servicios{
    background: linear-gradient(135deg, #eee8df, #ffffff, #e1f3ff);
    background-size: 200% 200%;
    animation: gradiente 2s infinite alternate;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 1fr;
    h6{
        grid-column: 1/4;
        font-size: 2rem;
        max-width: 200px;
        color: v.$colorheader2;
        font-weight: bold;
        margin: 10px;
        text-shadow: 0 0 2px v.$colorheader1;
    }
    .tarjeta{
        display: grid;
        grid-row: 2/4;
        max-width: 400px;
        height: 300px;
        justify-self: center;
        background-color: v.$colorheader2;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px v.$colorheader3;

        img{
            max-width: 70px;
            filter: brightness(0) invert(1);

        }
        h5{
            font-size: 1.5rem;
            color: v.$colorheader4;

        }
        p{
            font-size: 1.2rem;
            font-weight: 300;
            color: v.$colorheader4;

        }
    }

    a{
        display: grid;
        grid-column: 1/4;
        margin:20px;
        text-decoration: none;
        background: v.$colorboton1;
        max-width: 85px;
        padding: 10px;
        color: v.$colorheader4;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out ;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.formulario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: v.$colorheader4;


    form{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 20px;
        label{
            
            font-size: 2rem;
            font-weight: 700;

        }
        input{
            max-width: 300px;
            height: 40px;
        }
        textarea{
            max-width: 300px;
            height: 50px;

        }

        .enviar_reset{
            margin: 10px;

            input{
                width: 90px;
                border-radius: 10px;
                background-image: url(../img/boton1.png);
                background-position: center;
                background-size: cover;
                color: v.$colorheader4;
                font-size: 1rem;
                font-weight: 900;
                text-shadow: 0 0 10px black;
                transition: transform 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                    background-image: url(../img/boton2.png);
                }

            }
        }
    }

    .formulario_fotos{

        img{
            padding: 5px;
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 50px;

        }
    }
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;

    a{
        animation: agranda 0.5s infinite ease-in-out;
    
    img{
        max-width: 30px;

    }
}
}

@keyframes gradiente{
    from{
        background-position: 0% 50%;

    }
    to{
        background-position: 100% 50%;
    }
}

@keyframes movimiento{
    from{
        transform: translateX(0);
        transform: scale(1);

    }
    to{
        transform: translateX(10px);
        transform: scale(1.1);

    }
}

@keyframes agranda{
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(10deg); }
  50%  { transform: rotate(-10deg); }
  75%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }

}

@keyframes ingreso{
    from{transform:translatey(-100px);opacity: (0);}
    to{transform: translatey(0px);opacity: (100);}
}