@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$colorheader1:#5DADE2;
$colorheader2:#2874A6;
$colorheader3:#154360;
$colorheader4:#FAFAFA;
$colorboton1: #FF914D;
$colorboton2: #fc6203;


*{
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-transform:none;
    background-image: url(../img/home_fondo.png);
    background-size: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,a::first-letter{
        text-transform: uppercase;
    }